.ant-layout-header {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
  color: #ffffff;
  font-family: 'Droid serif', serif;
  font-size: 36px;
  font-weight: 400;
  font-style: italic;
  text-align: center;
}
