.ant-layout-header {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tvShowCard {
  width: 80%;
  max-width: 250px;
  min-width: 200px;
  padding: 2%;
  margin: 5%;
  align-self: center;
}

.title {
  color: #ffffff;
  font-family: 'Droid serif', serif;
  font-size: 36px;
  font-weight: 400;
  font-style: italic;
  text-align: center;
}
